{% extends "base.html" %}

{% block content %}
<h3>About</h3>

<div>
    <p>My name is Tomasz Klosinski and I'm a <b>DevOps/Site Reliability Engineer</b> & <b>Python Developer</b> based in Zurich, Switzerland.</p>
    <p>I'm originally from Poland. I started my career in Warsaw, Poland in 2011 as a Linux (RHEL) System Administrator, but in about a year I moved away from pure server administration to work with Cloud platforms and DevOps automation tools.</p>
    <p>I moved to Switzerland in 2014, where I started working at <a href="https://home.cern/about">CERN</a> in Geneva, in the French-speaking part of the country. It was a one-year contract as a Project Associate. I was responsible for modernizing the automation and configuration management stack in the team that was responsible for over 2000 Linux machines operating <a href="https://home.cern/science/accelerators/large-hadron-collider">Large Hadron Collider</a>.</p>
    <p>After that I moved to Zug (near Zurich) in German-speaking Switzerland to work for a new <a href="https://en.wikipedia.org/wiki/Financial_technology">FinTech</a> bank. Since then, I have continued working in the Swiss FinTech industry.</p>

    <h4>Professional interests</h4>
    <ul>
        <li>DevOps / SRE 👨🏻‍💻</li>
        <li>Linux servers 🐧</li>
        <li>Docker containers 🐋</li>
        <li>Kubernetes & Cloud-Native solutions ⎈</li>
        <li>Cloud Computing platforms ☁️</li>
        <li>Monitoring & Observability stacks 🔍</li>
        <li>Python coding 🐍</li>
    </ul>

    <h4>Contact</h4>
    <p>
        E-mail: <a href="mailto:tomasz.klosinski@alumni.cern">tomasz.klosinski@alumni.cern</a>
    </p>
    <p>
        Github: <a href="https://github.com/TomaszKlosinski">github.com/TomaszKlosinski</a>
    </p>
    <p>
        LinkedIn: <a href="https://www.linkedin.com/in/TomaszKlosinski/">linkedin.com/in/TomaszKlosinski/</a>
    </p>
</div>

{% endblock %}